body {
    font-family: 'Roboto', sans-serif;

}

h1{
    padding-top: 1%;
    text-align: center;
    border: 3px rgb(102, 16, 73);
    background-color: rgb(238, 237, 237);
    font-size: 1.5em;
	font-weight: normal;
}

h2{
    text-align: center;
	font-size: 1em;
	font-weight: bold;
}
div{
    text-align: center;
}
hr{
    text-align: center;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.addbookb{
    width: 150px;
    height: 40px;
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: #059773;
}

.researchb{
    width: 100px;
    height: 40px;
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: #059773;
}

.cancelb{

    width: 80px;
    height: 40px;
    font-size: 1em;
    color: white;
    background-color: #d60b26;
}

.bookR {
    background-color: #e4faf5;
    border: 1px #239ca0 solid;
    width: auto;
    text-align: center;
    padding: 3%;
    margin: 3%;
    font-size: 1em;
    

    
}

.imageBook {
    width: 40%;
    max-width: 100px;
    height: auto;
}

h3 {
    text-align: center;
}

#books, #contentDiv {        /*Dimension Smartphone*/
    display: grid;
    grid-template-columns: 1fr;
 }
@media (min-width: 576px) {   /*Dimension Tablette*/
    #books, #contentDiv {
        grid-template-columns: repeat(2, 1fr); 
    } 
}
@media (min-width: 768px) {   /*Dimension PC*/
    #books, #contentDiv {
        grid-template-columns: repeat(3, 1fr); 
    } 
}


.clickB {
    width: 150px;
    height: 40px;
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: #059773;
    
}


.trashIcon {
    width: 150px;
    height: 40px;
    font-size: 1em;
    color: white;
    text-align: center;
    background-color: red;
}

.imageB {
    max-width: 150px;
    height: auto;


}
